@model IEnumerable<GardenManager.Models.Територия>

@{
    ViewBag.Title = "ПолучитьСписокУчастков";
}

<h2>Список участков</h2>

<p>
    @Html.ActionLink("Добавить новый участок", "ДобавитьНовыйУчасток")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
       <!-- @Html.ActionLink("Edit", "Edit", new { id=item.Id }) | -->  
            @Html.ActionLink("Создать новую разметку", "СоздатьНовуюРазметку", new { tid = item.Id }) |   
            @Html.ActionLink("Просмотреть подробности", "ПросмотретьПодробности", new { tid=item.Id }) |
            @Html.ActionLink("Удалить", "Удалить", new { tid=item.Id })
        </td>
    </tr>
}

</table>
